


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo h2 {
    color: #ff7200;
    font-family: 'Lora', serif;
    font-size: 34px;
    letter-spacing: 1px;
}

.navbar .menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar .menu ul li a:hover {
    color: #ff7200;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url("../images/contact.jpg"); */
    background-size: cover;
    
    


}

.contact .content{
    max-width: 800px;
    text-align: center;
    margin-top: 0px;

}

.contact .content h1{
    font-size: 36px;
    font-weight: 900;
    color:orange;
    margin-top: -100px;
    size: 10px 20px;
    
}

.contact .content p{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}


.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}


.container .contactInfo .box{
    position: relative;
    padding:20px 0;
    display:flex;
    margin-left: 200px;
    margin-top: -5px;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 5px;
    flex-direction: column;
    font-weight: 300;
    

}

.container .contactInfo .box .text h3{
    font-weight: 600;
    color:white;
}
.container .contactInfo .box .text p{
    font-weight: 600;
    color:orange;
}


.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    margin-left:350px;
}

.contactForm h2{
    font-size: 30px;
    color: orange;
    font-weight: 700;
  
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;


} 

.contactForm .inputBox span{
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;

}

.contactForm .inputBox input:focus ~span,.contactForm .inputBox input:valid ~span{
    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox textarea:focus ~span,.contactForm .inputBox textarea:valid ~span{
    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}


.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 12px;
}

.socials a {
    color: white;
    font-size: 20px;
    margin: 1px;
    transition: color 0.3s;
}
.socials a:hover {
    color: #66b3ff; /* Lighter Blue */
}


/* Responsive Design */
@media (max-width: 768px) {
    .navbar .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        font-size: 36px;
    }

    .team {
        padding: 40px 20px;
    }

    .team-member {
        width: 90%;
        margin: 10px 0;
    }

    .about-section p {
        font-size: 18px;
        padding: 10px;
    }
}
